
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 375px;
  max-width: 430px;
  height: 100dvh;
  margin: 0 auto;
  overflow-y: auto;
  position: relative;
}

